body{
    margin: 0;
}

.container {
    display: inline-flex ;
    border: 6px solid black;
}

.flexItem{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;

}

.item1{
    background-color: #b4bf35;
}

.item2{
    background-color: #b95f21;
}

.item3{
    background-color: #1c4c56;
}

.item4{
    background-color: #cfb276;
} 

.item5{
    background-color: #6b0803;
}

.item6{
    background-color: #1c4c56;
}

.item7{
    background-color: #b95f21;
}
.item8{
    background-color: #01243a;
}

.item9{
    background-color: gray; 
}

