.wrapper{
    display: grid;
    background-color: brown;
    width: 100%;
    border: 4px black solid;
    box-sizing: border-box;
    /* grid-template-rows: 40px; */
    grid-template-columns: 100px 100px;
}

.box{
    color: aliceblue;
    background-color: palevioletred;
    margin: 1% 2%;
    padding: 1% 2%;
    border-radius: 3%;

}
